.help {
  margin: 50%;
}

.app {
  background-color: rgba(255, 250, 251, 0.1);
  align-items: center;
  justify-content: center;
  width: 80vw;
  border-radius: 50px;
  height: 80vh;
  z-index: 2;
}

.panelAccordionButton .p-button {
  display: flex;
  width: 100%;
  text-align: start;
  font-weight: 100;
  color: white;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1.5vw;
}
