.globalDiv {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #1B1A2A;
}

.leftDiv {
    display: flex;
    border: 5px solid red;
    width: 15vw;
     background-color: rgba(255, 250, 251, 0.1);
    flex-direction: column;
}

.middleDiv {
    display: flex;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    width: 70vw;
}

.rightDiv {
    display: flex;
    border: 5px solid blue;
    width: 15vw;
    background-color: rgba(255, 250, 251, 0.1);
}

.fastrText {
    font-size: 50px;
    align-self: start;
}

.selectButton {
    display: flex;
}

.pannelMenu {
    background-color: #54B6CC;
}

.divider {
    margin: 0px;
}

.buttonText {
    color: #FFFFFF;
}
