.globalGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100vw;
  height: 100vh;
}

.leftPannel {
  grid-column: span 1;
  background-color: rgba(50, 48, 63, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
}

.rightPannel {
  grid-column: span 1;
  background-color: rgba(50, 48, 63, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.actionReacTab .p-tabmenu-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
}

.actionReacTab .p-tabmenuitem {
  flex: 1;
  text-align: center;
}

.actionReacTab .p-menuitem-text {
  text-align: center;
  width: 100%;
}

.panelContainer {
  text-align: start;
  overflow-y: scroll;
  max-height: 80%;
}

.panelContainer .p-panelmenu-header-link:not(:hover) {
  background-color: rgba(50, 48, 63, 0.2);
}

.panelContainer .p-panelmenu-content {
  background-color: rgba(50, 48, 63, 0.6);
}

.panelContainer .p-menuitem-text {
  text-align: start;
  margin-left: 3vh;
}

.areaPreviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  align-items: center;
}

.areaPreviewContainer:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.areaDisplayContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.toast .p-toast-message {
  background-color: rgba(255, 255, 255, 0.1);
}

.toast .p-toast-message-icon {
  color: rgba(255, 255, 255, 0.5);
}

.toast .p-toast-message-text {
  color: rgba(255, 255, 255, 0.5);
}

.toast .p-toast-icon-close {
  color: rgba(255, 255, 255, 0.5);
}

.searchContainer {
  width: 100%;
  background-color: transparent;
}

.areasContainer {
  grid-column: span 3;
  position: relative;
}

.buttonAddArea .p-button {
  background-color: rgba(255, 255, 255, 0.05);
  width: 70px;
  height: 70px;
  position: absolute;
  right: 3vh;
  bottom: 3vh;
}

.buttonAddArea .p-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 70px;
}

.buttonAddArea .p-button-icon {
  font-size: 50px;
}
