.ItemCardDiv {
    display: flex;
    width: 30vw;
    height: 7vh;
    border: 1px solid rgba(255, 250, 251, 0.1);
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background-color: rgba(255, 250, 251, 0.1);
}
