.box {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    width: 100vw;
    background-color: #1B1A2A;
    overflow: hidden;

}

.App {
  background-color: rgba(255, 250, 251, 0.1);
  align-items: center;
  justify-content: center;
  width: 80vw;
  border-radius: 50px;
  height: 80vh;
  z-index: 2;
}

.CircleBlu {
  height: 500px;
  width: 500px;
  top: -250px;
  left: -250px;
  z-index: 1;
  background-color: rgba(48, 66, 134, 0.7);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
  overflow: hidden;
}

.CircleBlu2 {
  height: 267px;
  width: 267px;
  z-index: 1;
  left: calc(100vw - 230px);
  top: calc(100vh - 180px);
  background-color: rgba(48, 66, 134, 0.7);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
  overflow: hidden;
}


.CircleHollow {
  height: 351px;
  width: 351px;
  left: -154px;
  bottom: 15vh;
  z-index: 1;
  background-color: rgba(69, 35, 81, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
  overflow: hidden;
}

.CircleHollow2 {
  height: 300px;
  width: 300px;
  left: calc(100vw - 150px);
  top: 20vh;
  z-index: 1;
  background-color: rgba(69, 35, 81, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  overflow: hidden;
  transform-origin: center;
}


.CirclePink {
  height: 465px;
  width: 465px;
  left: -30px;
  bottom: -233px;
  z-index: 1;
  background-color: rgba(116, 50, 82, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
  overflow: hidden;
}
.CirclePink2 {
  height: 465px;
  width: 465px;
  z-index: 1;
  top: -233px;
  left: calc(100vw - 350px);
  background-color: rgba(116, 50, 82, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
  overflow: hidden;
}



.Text {
    color: white;
    justify-content: center;
    margin-left: 50px;
}

.EmailBox {
    color: #FFFFFF;
    left: 18vw;
    top: 45vh;
    border-color: red;
    border: 2px solid green;
    position: fixed;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.TextBox {
    border-radius: 10px;
}

.PassBox {
    color: #FFFFFF;
    left: 18vw;
    top: 60vh;
    border-color: red;
    border: 2px solid green;
    position: absolute;
}



