.box {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  width: 100vw;
  background-color: #1b1a2a;
  overflow: hidden;
}

.App {
  background-color: rgba(255, 250, 251, 0.08);
  align-items: left;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80vw;
  border-radius: 50px;
  height: 80vh;
  z-index: 2;
}

.CircleBlu {
  height: 500px;
  width: 500px;
  top: -250px;
  left: -250px;
  z-index: 1;
  background-color: rgba(48, 66, 134, 0.7);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
}

.CircleBlu2 {
  height: 267px;
  width: 267px;
  z-index: 1;
  left: calc(100vw - 230px);
  top: calc(100vh - 180px);
  background-color: rgba(48, 66, 134, 0.7);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
}

.CircleHollow {
  height: 351px;
  width: 351px;
  left: -154px;
  bottom: 15vh;
  z-index: 1;
  background-color: rgba(69, 35, 81, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
}

.topLeft {
    display: flex;
    gap: 3vw;
}

.buttonSettings {
    padding-left: 2vw;
}

.CircleHollow2 {
  height: 300px;
  width: 300px;
  left: calc(100vw - 150px);
  top: 20vh;
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(69, 35, 81, 1);
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
}

.CirclePink {
  height: 465px;
  width: 465px;
  left: -30px;
  bottom: -233px;
  z-index: 1;
  background-color: rgba(116, 50, 82, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
}
.CirclePink2 {
  height: 465px;
  width: 465px;
  z-index: 1;
  top: -233px;
  left: calc(100vw - 350px);
  background-color: rgba(116, 50, 82, 1);
  border-radius: 50%;
  display: inside-block;
  filter: blur(100px);
  position: fixed;
  transform-origin: center;
}

.textBox {
  margin-bottom: 5%;
}

.hrMidle {
  border: 1px solid #90a3b9;
  height: 65vh;
  width: 1px;
  position: fixed;
  border-radius: 5px;
}

.divLogin {
  padding: 0vh 2vw 2vh 5vw;
  margin-left: 6vw;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonDiv {
  margin-top: 1vh;
}

.divDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8vw;
}

.divSignin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  margin: 10%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: flex-start;
}

.title {
  font-size: 30px;
  margin-bottom: 1vh;
}

.subTitle {
  font-size: 18px;
  text-align: left;
  margin-bottom: 2vh;
}

.buttonDiv2 {
  width: 10vw;
  height: 5vh;
}

.img {
  margin-bottom: 3vh;
}

.googleSignIn {
  margin-bottom: 2vh;
  width: 15vw;
}

.signInContainer {
  display: flex;
  flex-direction: column;
}
