.backButton {
  margin-left: 3%;
  margin-top: 2%;
  vertical-align: middle;
  text-align: center;
}

.backButton:hover {
  margin-left: 3%;
  margin-top: 2%;
  vertical-align: middle;
  text-align: center;
  cursor: grab;
}

.body {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  height: 80%;
  flex: 1;
  width: 85%;
}

.logo {
  margin-top: 10%;
}

.divider {
  margin-left: 15%;
  margin-right: 10%;
}

.register {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 26px;
  font-weight: 100;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 9%;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 5%;
}
