.backButton {
  margin-left: 3%;
  margin-top: 2%;
  vertical-align: middle;
  text-align: center;
}

.backButton:hover {
  margin-left: 3%;
  margin-top: 2%;
  vertical-align: middle;
  text-align: center;
  cursor: grab;
}

.body {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
}

.app-logo {
}

.divider {
  border: 1px solid #90A3B9;
  margin-left: 20%;
  height: 80%;
}
